
@{
    ViewData["Title"] = "系统用户";
}

@*<h2>UserIndex</h2>*@
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li class="active">系统用户</li>
    </ul>
</div>
<div class="page-content">

</div>
