@*@{
        ViewData["Title"] = "EditUser";
    }

    <h2>EditUser</h2>*@

@using General.Entities
@model Schedule
@{
    ViewData["Title"] = "编辑明细表";
}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li>

            <a href="">进口运输</a>
        </li>

        <li class="active">明细表</li>
    </ul>
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-route="editSchedule" method="post" class="form-horizontal">
                @Html.HiddenFor(m => m.Id)
                <div asp-validation-summary="All"></div>



                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">发票号</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" asp-for="InvoiceNo" placeholder="发票号" />
                    </div>
                    <span class="inline text-danger" asp-validation-for="InvoiceNo"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">物料号</label>
                    <div class="col-sm-3">
                        <input type="text" asp-for="MaterielNo" class="form-control" placeholder="物料号" />
                    </div>
                    <span asp-validation-for="MaterielNo" class="inline text-danger "></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">发货凭证</label>
                    <div class="col-sm-3">

                        <input type="text" asp-for="PurchasingDocuments" class="form-control" placeholder="发货凭证" />
                    </div>
                    <span asp-validation-for="PurchasingDocuments" class="inline text-danger"></span>
                </div>



                <div class="col-md-offset-2 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>