@{
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //Layout = "_AdminLayout.cshtml";
    // Layout = null;
    // Layout = "_Layout";
    Layout = "_AdminLayout";
}
@*<a href="~/Areas/Admin/Views/Shared/_Layout.cshtml">~/Areas/Admin/Views/Shared/_Layout.cshtml</a>*@
@*<a href="~/Areas/Admin/Views/Shared/_Layout.cshtml">~/Areas/Admin/Views/Shared/_Layout.cshtml</a>*@